#main {
  width: 75%;
  min-width:700px;
  float: left;
  overflow: auto;
}
#data-improvement {
  width: 200px;
  float: right;
  clear: right;
}

#main {
  padding-bottom: 4em;
}

body {
  min-width: 900px;
  padding-left: 20px;
  padding-right:20px;
  background-image: url(VT-17-clear.png);
  background-size: 70% auto;
  background-repeat: no-repeat;
  background-position: top right;
}

#footer {
  clear: both;
}
#footer p {
  float: left;
  width: 33%;
}

thead th {
  white-space: nowrap;
}

td {
  text-align: center;
}
tbody th {
  font-weight: normal;
  text-align: left;
}
td, th {
  vertical-align: top;
  padding: 5px;
}

/* Drop the left sidebar below when the screen is narrow */
@media only screen and (max-width: 960px) {
  body {
    min-width: 700px;
  }

  #main {
    width: 100%;
  }

  #data-improvement {
    width: 100%;
    float: none;
    clear: both;
  }
}

@media only screen and (max-width: 700px) {
  body {
    background-size: 700px auto;
    background-position: top left;
  }
}
