<header id="header">
  <div id="masthead">
    <div id="branding" role="banner">
      <img id="bg_image" alt="Curvature" title="" src="https://roadcurvature.com/files/2016/10/VT-17-clear-thin-1.png">
      <div id="header-container">
        <div class="site-identity">
          <a id="logo" href="https://roadcurvature.com/">
            <img title="Curvature" alt="Curvature - Find twisty roads" src="{{root_path}}resources/CurvatureLogo-no-URL.png">
          </a>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div><!-- #branding -->
    {% include "top-menu.html" %}
  </div><!-- #masthead -->
</header><!-- #header -->
