<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Curvature - {{item_name}}</title>
    <link type="text/css" rel="stylesheet" href="{{root_path}}resources/main.css"/>
  </head>
  <body>
    {% include "header.html" %}
    {% include "about-aside.html" %}
    <main id="main">
      <h1>
{% for path,name in breadcrumbs %}
<a href="{{path}}">{{name}}</a> /
{%endfor %}
{{item_name}}</h1>

{% if subdirs %}
      <table>
        <thead>
          <tr>
            <th>Sub-divided Regions</th>
          </tr>
        </thead>
        <tbody>
{% for dir in subdirs %}
{% include "dir.html" %}
{% endfor %}
        </tbody>
      </table>
{% endif %}
      <table>
        <thead>
{% include "group_table_head.html" %}
        </thead>
        <tbody>
{% for group,groupfiles in groups %}
{% include "group.html" %}
{% endfor %}
        </tbody>
      </table>
    </main>
    {% include "data-improvement-aside.html" %}
    {% include "footer.html" %}
  </body>
</html>
