<a id="nav-toggle"><span>&nbsp;</span></a>
<nav id="access" role="navigation">
					<div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
	<div class="menu"><ul id="prime_nav" class="menu"><li id="menu-item-78" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-78"><a href="/" aria-current="page"><span>Home</span></a></li>
<li id="menu-item-2907" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2907"><a href="https://roadcurvature.com/map/"><span>Map</span></a></li>
<li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-49"><a href="https://roadcurvature.com/how-to-use/"><span>How to Use</span></a>
<ul class="sub-menu">
	<li id="menu-item-3010" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3010"><a href="https://roadcurvature.com/how-to-use/why-curvature/"><span>Why Curvature?</span></a></li>
	<li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-43"><a href="https://roadcurvature.com/how-to-use/examples/"><span>Examples</span></a>
	<ul class="sub-menu">
		<li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56"><a href="https://roadcurvature.com/how-to-use/examples/kentucky/"><span>Kentucky</span></a></li>
		<li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="https://roadcurvature.com/how-to-use/examples/idaho/"><span>Idaho</span></a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-2805" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2805"><a href="https://roadcurvature.com/how-it-works/"><span>How it Works</span></a>
<ul class="sub-menu">
	<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="https://roadcurvature.com/how-it-works/osm/"><span>OpenStreetMap</span></a></li>
	<li id="menu-item-156" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-156"><a href="https://github.com/adamfranco/curvature"><span>Code on Github</span></a></li>
</ul>
</li>
<li id="menu-item-29" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-29 current-menu-item"><a href="https://kml.roadcurvature.com/"><span>Download Data</span></a>
<ul class="sub-menu">
	<li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"><a href="https://roadcurvature.com/download-data/using-kml-files/"><span>Using KML files</span></a></li>
	<li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58"><a href="https://roadcurvature.com/download-data/detected-curves/"><span>Detected Curves KML files</span></a></li>
</ul>
</li>
<li id="menu-item-70" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-70"><a href="https://roadcurvature.com/category/news/"><span>News</span></a>
<ul class="sub-menu">
	<li id="menu-item-231" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-231"><a href="https://roadcurvature.com/email-newsletter/"><span>Email Newsletter</span></a></li>
	<li id="menu-item-170" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170"><a href="https://roadcurvature.com/contact/"><span>Contact</span></a></li>
</ul>
</li>
<li id="menu-item-2802" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2802"><a title="Support the project" href="https://roadcurvature.com/support/"><span>Support</span></a></li>
</ul></div>			</nav>
