<nav id="access" role="navigation">
				<div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
<div class="menu"><ul id="prime_nav" class="menu"><li id="menu-item-78" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-78"><a href="http://roadcurvature.com/"><span>Home</span></a></li>
<li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-49"><a href="http://roadcurvature.com/how-to-use/" aria-haspopup="true"><span>How to Use</span></a>
<ul class="sub-menu" style="display: none;">
	<li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"><a href="http://roadcurvature.com/how-to-use/step-by-step/"><span>Step by Step</span></a></li>
	<li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-43"><a href="http://roadcurvature.com/how-to-use/examples/" aria-haspopup="true"><span>Examples</span></a>
	<ul class="sub-menu" style="display: none;">
		<li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56"><a href="http://roadcurvature.com/how-to-use/examples/kentucky/"><span>Kentucky</span></a></li>
		<li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="http://roadcurvature.com/how-to-use/examples/idaho/"><span>Example: Idaho</span></a></li>
	</ul>
</li>
	<li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58"><a href="http://roadcurvature.com/how-to-use/colorized-curves/"><span>Colorized Curves</span></a></li>
</ul>
</li>
<li id="menu-item-29" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-29 current-menu-item current_page_item"><a href="http://kml.roadcurvature.com/"><span>KML Files</span></a></li>
<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-34 menu-item-35"><a href="http://roadcurvature.com/technology/"><span>Technology</span></a></li>
<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="http://roadcurvature.com/osm/"><span>Open Street Map</span></a></li>
<li id="menu-item-70" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-70"><a href="http://roadcurvature.com/category/news/"><span>News</span></a></li>
</ul></div>			</nav>
